.nav-item {
    transition: 1s;
    scroll-behavior: smooth;
}

#MobileNavbar{
    display: none;
}

.container-fluid{
    padding: 0%;
    opacity: 1;
    scroll-behavior: smooth;
}

/* #AboutMeDiv1{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: black;
    color: whitesmoke;
    padding: 2%;
    opacity: 1;
} */

#SignatureDiv {
    float: left;
    color: whitesmoke;
    font-size: 10px;
    height:100px;
    width: 250px;
    text-align: center;
}

#SignatureImage {
    height: 100px;
    width: 200px;
    opacity: .25;
}



#parallax1 {
    /* The image used */
    background-image: url("images/RichmondSkyline.jpg");

    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .5; */
}

#parallax2 {
    /* The image used */
    background-image: url("images/OBXSunset.jpg");

    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    padding-top: 50px;
    /* opacity: .5; */
}

#parallax3 {
    background-image: url("images/ParisSunset.jpg");

    min-height: 550px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}

.parallax3 {

    min-height: 200px;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .BreakDiv{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
    height: 100px;
} */

#AboutMeDiv1{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#AboutMeDiv1-2{
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-top: 30%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#AboutMeDiv2{
    float: right;
    width: 50%;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 5%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#BioDiv{
    float: left;
    width: 44%;
    margin-left: 5%;
}

#ParisSelfie{
    background-image: url("images/ParisSelfie.jpg");

    min-height: 550px; 

    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 0%;
}

.BreakDiv{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
    height: 100px;
}

#Project1 {
    float: right;
    width: 44%;
    margin-right: 5%;
    min-height: 600px;
}

#SpeakIT {
    background-image: url("images/SpeakITScreenShot.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 0%;
}

#Project2 {
    float: left;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 10%;
}

#GatheRVA {
    background-image: url("images/GatheRVA.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 5%;
}

#Project3 {
    float: right;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 10%;
}

#Bamazon {
    background-image: url("images/Bamazon.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 5%;
}

#Project4 {
    float: left;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 10%;
}

#Giftastic {
    background-image: url("images/Giftastic.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 5%;
}

@media only screen and (max-width: 992px){
    #WebNavbar{
        display: none;
    }
}

@media only screen and (max-width: 768px){

    #WebNavbar{
        display: none;
    }
    
    p {
        font-size: 12px;
    }

    #BioPara1{
        display: none;
    }

    #AboutMeDiv1 {
        width: 60%;
    }

    #AboutMeDiv1-2 {
        width: 60%;
    }

    #AboutMeDiv2 {
        width: 60%;
    }

    #Project2{
        margin-top: 20%;
    }

    #Project3{
        margin-top: 40%;
    }

    #Project4{
        margin-top: 50%;
    }
}