.nav-item {
    transition: 1s;
    scroll-behavior: smooth;
}

#MobileNavbar{
    display: none;
}

.container-fluid{
    padding: 0%;
    opacity: 1;
    scroll-behavior: smooth;
}

/* #AboutMeDiv1{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: black;
    color: whitesmoke;
    padding: 2%;
    opacity: 1;
} */

#SignatureDiv {
    float: left;
    color: whitesmoke;
    font-size: 10px;
    height:100px;
    width: 250px;
    text-align: center;
}

#SignatureImage {
    height: 100px;
    width: 200px;
    opacity: .25;
}



#parallax1 {
    /* The image used */
    background-image: url("images/RichmondSkyline.jpg");

    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .5; */
}

#parallax2 {
    /* The image used */
    background-image: url("images/OBXSunset.jpg");

    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    padding-top: 50px;
    /* opacity: .5; */
}

#parallax3 {
    background-image: url("images/ParisSunset.jpg");

    min-height: 550px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}

.parallax3 {

    min-height: 200px;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .BreakDiv{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
    height: 100px;
} */

#AboutMeDiv1{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#AboutMeDiv1-2{
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-top: 30%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#AboutMeDiv2{
    float: right;
    width: 50%;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 5%;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    padding: 2%;
    opacity: .75;
    box-shadow: 2px 2px 5px black;
}

#ConnectWithMeDiv{
    background-color: black;
    opacity: .75;
    width: 50%;
    height: 150px;
    float: right;
    margin-right: 25%;
    margin-top: 10%;
}

#ConnectWithMePara{
    text-align: center;
    height: 50px;
    color: whitesmoke;
}

#Github{
    height: 50px;
    margin-top: -4%;
    text-align: center;
}

#Linkedin{
    height: 50px;
    margin-top: -4%;
    text-align: center;
}

#Email{
    height: 50px;
    margin-top: -4%;
    text-align: center;
}

#PhoneNumber{
    height: 50px;
    margin-top: -4%;
    text-align: center;
}

.connectionlinks{
    font-size: 10px;
    color: whitesmoke;
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

#BioDiv{
    float: left;
    width: 44%;
    margin-left: 5%;
}

#ParisSelfie{
    background-image: url("images/ParisSelfie.JPG");

    min-height: 550px; 

    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 0%;
}

.BreakDiv{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
    height: 100px;
}

#FinalProject {
    float: left;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 0%;
}

#River-Rat{
    background-image: url("images/River-Rat.png");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 0%;
}

#Project1 {
    float: right;
    width: 44%;
    margin-right: 5%;
    min-height: 600px;
    margin-top: 10%;
}

#SpeakIT {
    background-image: url("images/SpeakITScreenShot.jpg");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 5%;
}

#Project2 {
    float: left;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 15%;
}

#GatheRVA {
    background-image: url("images/GatheRVA.jpg");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 10%;
}

#Project3 {
    float: right;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 15%;
}

#Bamazon {
    background-image: url("images/Bamazon.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 10%;
}

#Project4 {
    float: left;
    width: 44%;
    margin-left: 5%;
    min-height: 600px;
    margin-top: 10%;
}

#Giftastic {
    background-image: url("images/Giftastic.jpg");

    min-height: 550px; 
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 10%;
}

#footer {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: black;
    opacity: .75;
    color: whitesmoke;
}

@media only screen and (max-width: 1024px){
    #WebNavbar{
        display: none;
    }
    .connectionlinks{
        display: none;
    }

}

@media only screen and (max-width: 768px){

    #parallax1 {
        min-height: 600px; 
        background-size: 600px
    }
    
    #parallax2 {
        min-height: 600px; 
        background-size: 600px
    }
    
    #parallax3 {
        min-height: 600px; 
        background-size: 600px
    }
    
    /* .parallax3 {
    
        min-height: 200px;
    
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    #WebNavbar{
        display: none;
    }
    
    p {
        font-size: 12px;
    }

    #BioPara1{
        display: none;
    }

    #AboutMeDiv1 {
        width: 60%;
    }

    #AboutMeDiv1-2 {
        width: 60%;
    }

    #AboutMeDiv2 {
        width: 60%;
    }

    #RRPara2{
        display: none;
    }

    #P1Para2{
        display: none;
    }

    #Project2{
        margin-top: 20%;
    }

    #P2Para2{
        display: none;
    }

    #Project3{
        margin-top: 40%;
    }

    #P3Para2{
        display: none;
    }

    #Project4{
        margin-top: 50%;
    }

    #P4Para2{
        display: none;
    }



    #ConnectWithMeDiv{
        height: 200px;
    }

    #Github{
        height: 50px;
        margin-top: -15%;
        text-align: center;
    }
    
    #Linkedin{
        height: 50px;
        margin-top: 1%;
        text-align: center;
    }
    
    #Email{
        height: 50px;
        margin-top: 1%;
        text-align: center;
    }
}